.image_principal{
  height: 500px;
  border-radius: 21px;
  width: 100%;
}


.img_chontio{
  cursor: pointer;
  width: 77px;
  height: 77px;
  border-radius: 10px;
  object-fit: fill;
 }



.stargrey {
	color: #96969d;
}


.background {
  height: 100vh;
  width: 150%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -11;
  clip-path: circle(60% at 90%);
}

.product-card {
  width: 800px;
  display: flex;
  background: white;
  box-shadow: 0 0 8px #000;
  border-radius: 20px;
}

.row_containe{
  height: 50px;
  width: 50px;
  display: flex;
  margin-left: -59px;
}

.col_li{
  list-style: none; 
  margin-left: 20px;
}

.w3-light-grey{
  border-radius: 50px ;
}

.yellow{
  color: yellow;
}

.img_stars{
  width: 20px;
  height: 20px; 
  border-radius: 20px;
}










.price {
  font-size: 2rem;
  font-weight: bold;
}
 .colors {
  display: flex;
}
 .stars span {
  width: 20px;
height: 20px;
display: inline-block;
cursor: pointer;
transition: 0.3s ease;
margin: 10px 5px;

}


 .taille span {
  background-color: #AA832C;
  padding-top: 4px;
  width: 38px;
  height: 37px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px #cacaca;
  transition: 0.3s ease;
  margin: 10px 5px;
  font-size: large;
  text-align: center;
}

 .colors span {
  width: 38px;
  height: 37px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px #cacaca;
  transition: 0.3s ease;
  margin: 10px 5px;
}
 


/* ************************************************************************************************** */

.colors .black {
  background: #000;
}
.colors .black:hover {
  border: solid 2px #b9b8b8;
}

.taille span:hover {
  background-color: #d6c7a7;
}



 .btn_add_cart {
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(13deg, #272F56 33%, #AA832C 71%);
  color: #fff;
  border: none;
  outline: none;
}
.btn_add_cart:hover {
  box-shadow: 0 0 6px #000;
}






