/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');



:root {
  
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Poppins', sans-serif; 

}

/* Colors */
:root {
  --color-default: #fff;
  --color-primary: #33286E; /* change it with the dorée color  */
  --color-secondary: #AA8226;
}

/* Smooth scroll behavior */
:root { 
  scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	font-family: var(--font-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.container {
	max-width: 1170px;
	margin: auto;
}



/** @med Top header logo **/

.img_logo_top{
	height: 6rem;	
  position: relative;
  top:-.15rem !important;
}

/** **/

/** @med nav menu **/
.contain_link .nav-link
{
 white-space: nowrap;
}


ul {
	list-style: none;
}

.footer {
	background-image: linear-gradient(13deg, #272F56 33%, #AA832C 71%);
  padding: 55px 82px 49px 73px
}

.footer-col {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 12px;
    font-family: var(--font-secondary);
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col p{
	color:#ffffff ;
  font-size: 13px;
  margin-bottom: 0% !important;
}

.size{
  font-size: 14px;
    font-weight: 500;
}

.input_email {
	width: 263px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: rgba(255, 255, 255, .5);
	position: absolute;
	z-index: 10;
}

.input_email::placeholder {
	color: #ffffff;
  }
  
  .input_email:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ffffff;
  }
  
  .input_email::-ms-input-placeholder { /* Microsoft Edge */
   color: #ffffff;
  }
*:focus {
    outline: none;
}

.form-btn {
    height: 50px;
    color: #ffffff !important;
    padding-right: 10px;
    border: none;
	margin-left:180px;
    background: none;
    border-radius: 0px 10px 10px 0px;
    color: var(--color-primary);
    font-weight: 500;
    letter-spacing: .2px;
	z-index: 1;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.card-title{
  max-width: 300px;
    text-overflow: ellipsis;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
}

.cockies{
  font-size: 11px;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;
}

.cockies p{
	padding: 10px 30px 0px 30px;
	text-align: center;
}

.alert_cokies .close {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 3.75px 7.25px;
    color: inherit;
}

.btn_cokies{
	color: #fff;
}

.footer-col ul li a {
  font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	display: block;	
}



.input_check{
	display: flex;
    align-items: flex-start;
	
}

.input_check input{
	margin-left: 16px;
    margin-right: 8px;
}

input[type="checkbox"] {
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
  }
  
  .form-control + .form-control {
	margin-top: 1em;
  }



.icon_xmark{
	color: #ffff;
	right: 24px;
    top: 12px;
	padding-left: 4px;
	
}


.footer-col .social-links a {
	margin: 0 10px 10px 0;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}

.footer-col .seprator {
	transform: rotate(11deg);
    border-radius: 22px;
    rotate: 20;
    width: 3px;
    height: 20px;
    position: relative;
    left: -3px;
    background-color: rgb(255, 255, 255);
    margin-right: 3px;
}


/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}



/* navbar */

.text2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
 }
 .img{
  position: relative;
    top: -5px;
    right: -133px;
    object-fit: contain;
    
    }
    .img_1{
    position: relative;
    height: 48px;
    width: 48px;
    left: -10px;
    top: 8px;
    border-radius: 43px;
    }
    .par_1{
      position: relative;
      top: 11px;
      max-width: 212px;
      margin-left: -8px;
    }
    .par_jour{
      margin-left: 42px;
      position: relative;
      top: -12px;
    }

/** @med  Header Top search   **/    

.search{
       position: relative;
       top:0px !important;
      /* box-shadow: 0 0 40px rgba(51, 51, 51, .1); */
       width:auto;
       
       }


       .search input{

        height: 30px;
        width:250px;
        border-radius: 50px; 
        border:none;
        font-size: .8rem;

       }


/*** **/

@media screen and (min-width:992px) {

  .btn_sell 
  {
    left:5px;
   
  }

  .nav_top .row :nth-last-child(-n+4) 
  {
    top:2px;
  }
}

/*******/

       .search input:focus{

        box-shadow: none;
        border: 0px solid blue;


       }

       .search .fa-search{
        padding: 5px;
        position: absolute;
        top: 2px;
        right: -8px;
        background-color: transparent;
        cursor: pointer;
    

       }

       .fa-search:before {
   
    padding: 5px;
}

.search input::placeholder
{
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: .8rem;
}
    
       
       .btn_sell{
        border: none; 
    width: 100%;
    background-color: #AA832C !important;
    color: #fff;
    border-radius: 50px !important;
    padding: 7px !important;
    height:30px;

       }

       .btn_plus{
        position: relative;
        top:0px !important;
        left: -12px;
       }
       .btn_sing_up{
        border: none; 
    width: 80%;
    background-color: #ffffff !important;
    color: #000000;
    border-radius: 50px !important;
    padding: 7px !important;
       }
      
       .bell_not{
       /** background-color: #fff;
        border-radius: 50px; **/
        height: 30px;

       }
       .border_log{
        font-size: 13px;
        border-radius: 50px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 6px !important;
       }

       .img_avatar{
        border-radius: 50% ;
         background-color: #ffffff ; 
         padding: 2px;
        height: 43px;
        width: 43px;
       }

       .img_avatar + .text-light
       {
        margin-left:.2rem;
       }

       .link_product{
        text-decoration: none;

       }
       .link_product:hover{
        text-decoration: none;
        color: #ffffff;

       }

       .contain_link{
        display: flex;
        font-family: 'Poppins';
        text-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        font-size: 13px;
       }

       .contain_link a{
        font-size: 15px;
        color: var(--color-primary);

       }
       .link_slected{
        border-radius: 50px;
        border: 1px black solid;
        color: #AA832C !important;
       }


       @media screen and (max-width: 960px) {
  .responsive {
    flex-direction: column;
    gap: 11px;
  }
  .nav_top {
    height: 314px;
}
}
    

/**** Welcome page ****/

/** Titles **/

.container .title_botique,
.home_category_title,
.home_blog_and_actu h3
{
  color: #33286e;
  font-family: var(--font-primary);
}

.home_category_title
{
font-size: 35px;
}
.title_botique,
.home_blog_and_actu h3
{
  font-size: 60px;
  font-weight: 600;
}

@media screen and (min-width:992px) {
  .scrollable-tabs-container .text-center
  {
    min-height: 30px;
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1rem;
    margin-top: 5px;
  }

  .scrollable-tabs-container .image_story
{
  width:100px;
  height:100px;
}
.scrollable-tabs-container
{
  
  max-width: 960px !important;
  padding: 3%;
}

}

/** Home category list **/

.home_category_list_container
{
  margin-top: 90px !important;
}

/******** End welcome page **********/


/** ***** Home Page  *****/

.home_article_container,
.vendor_home_article_container
{
 padding-left:4% !important;
}

.taillles_home
{
  padding-top:3px;
  padding-left:4%;
}

.home_article_container .card_content
{

  padding-bottom: 25px;
  
}

.card_content .card-body p:first-child a
{
  color:#bd8c2f !important;
  font-size : 15px !important;
  font-weight:400;
  letter-spacing: .1px;
}

.card_content h5
{
 color:var(--color-primary);
 font-weight: 600;
 font-size: 16px !important;
 letter-spacing: .5px;
}

.card-body p:nth-of-type(2)
{
  color:var(--color-primary);
  letter-spacing: .4px;
  font-size: 1.1 rem;
}

.card-body p:nth-of-type(3),
.vendor_home_article_container .card-body p:nth-of-type(2)
{
  color:#fff;
  font-size:16px;
  background-color: #aa8226 !important;
  display: inline-block;
  padding:8px;
  border-radius: 5px;
}

.home_article_container .card-body
{
  border: solid transparent 1px;
  border-top:none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
  background-color: #efeff4 !important;
  padding-bottom: 10px !important;
  padding-left:12px !important;
}

.home_article_container .card_content a:first-of-type {
background-color: #efeff4 !important;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.home_article_container .card-img-top
{
  height:220px !important;
}

.home_article_container .card_content h5
{
  margin-top: 8px;

}

.home_article_container .bottomright,
.home_article_container .bottomleft
{
   bottom:42.3%;
   
}


/** Page boutique **/

.boutique_page_container
{
  padding-bottom: 80px;
  margin-top:40px;
}

.boutique_page_container .width_card
{
  padding: .6rem !important;
}

.boutique_page_container .card-img-top
{
  height: 220px;;
}

.boutique_page_container .card-body p
{
  color:var(--color-primary);
  font-size: 16px;
  font-weight:600;
  letter-spacing: .2px;
}



/*** Page nouveauté ***/
@media  (min-width: 992px) {

.nouveaute_page_container .width_card,
.articles_boutique_une .width_card
{
  padding: .5rem !important;
  margin-bottom:15px;
}

}

.nouveaute_page_container .card_content,
.articles_boutique_une .card_content
{
  background-color: #efeff4;
  border-radius: 15px;
}

.nouveaute_page_container .card-body,
.articles_boutique_une .card-body h5,
.articles_boutique_une .card-body p
{
  padding-left: 12px !important;
}


/******* Page Boutique a la une  ******/

.articles_boutique_une .card-body .btn_suivi{
  width:80% !important;
  font-size: 14px !important;
  border-radius: 10px;
  margin-top: 7px;
  margin-bottom:7px;
}
.articles_boutique_une .card-body
{
padding-top:10px !important;
}


.vendor_home_article_container .card_content
{
  background-color: #efeff4 !important;
  border-radius:15px;
}


.vendor_home_article_container .card-body
{
  padding-left: 12px !important;
}

.vendor_home_article_container .card_content
{
  padding-bottom:4px;
  margin-bottom:24px;
}

.vendor_home_article_container .bottomright,
.vendor_home_article_container .bottomleft
{
  bottom:33%;
}